<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Registration"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="true">

        </activity>
        <activity
            android:name=".LessonPlans"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity android:name=".LookSubs"
            android:exported="false"
            android:label="uploadImage"
            android:theme="@style/Theme.Material3.Light.NoActionBar">

        </activity>
        <activity
            android:name=".TextToSpeech"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Branch"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity
            android:name=".Events"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity
            android:name=".UploadEvents"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".RTB"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Events"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".EventDesc"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".SpecialTeams"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".UploadDocx"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".AdminUpdate"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".UpdateEvents"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".LessonPlansFileAdapter"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".LessonPlansFileModel"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
    </application>

</manifest>